<ion-header class="navbar">
  <ion-toolbar class="navbar__container" color="dark">
    <ion-grid>
      <ion-row class="navbar__content ion-align-items-center">
        <ion-col size="auto">
          <div class="navbar__logo">
            <ion-icon
              name="school"
              color="primary"
              class="navbar__logo-icon"
            ></ion-icon>
            <span class="navbar__logo-text">EduManage</span>
          </div>
        </ion-col>
        
        <!-- Desktop Navigation -->
        <ion-col class="ion-hide-md-down navbar__nav-col">
          <ion-buttons class="navbar__nav">
            @for (item of navigation; track item.name) {
            <ion-button
              [routerLink]="item.href"
              fill="clear"
              class="navbar__link"
              [ngClass]="{ 'navbar__link--active': isActive(item.href) }"
            >
              {{ item.name }}
            </ion-button>
            }
          </ion-buttons>
        </ion-col>

        <!-- Mobile Toggle Button - MOBILE ONLY -->
        <ion-col 
          size="auto" 
          class="ion-hide-md-up navbar__mobile-col"
        >
          <ion-button
            fill="clear"
            class="navbar__mobile-toggle"
            (click)="toggleMenu()"
          >
            <div 
              class="hamburger-icon"
              [class.active]="isMenuOpen()"
            >
              <span [ngClass]="{ 'top-active': isMenuOpen() }"></span>
              <span [ngClass]="{ 'middle-active': isMenuOpen() }"></span>
              <span [ngClass]="{ 'bottom-active': isMenuOpen() }"></span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Mobile Dropdown Menu -->
  <div class="navbar__mobile-dropdown ion-hide-md-up" [class.navbar__mobile-dropdown--open]="isMenuOpen()">
    <ion-list class="navbar__mobile-dropdown-list">
      @for (item of navigation; track item.name) {
      <ion-item
        [routerLink]="item.href"
        (click)="closeMenu($event)"
        class="navbar__mobile-link"
        [ngClass]="{ 'navbar__mobile-link--active': isActive(item.href) }"
        button
      >
        <ion-icon
          [name]="item.icon"
          slot="start"
          class="navbar__mobile-link-icon"
        ></ion-icon>
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-header>